.elements__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: transparent;
  background-image: url(../../../images/trash.svg);
  border: none;
  padding: 0;
  align-self: center;
  transition: 0.2s linear;
  cursor: pointer;
}

.elements__trash:hover {
  opacity: 50%;
}
