.popup__close {
  width: 32px;
  height: 32px;
  background: transparent;
  border: 0;
  padding: 0;
  background-image: url(../../../images/Close\ Icon.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: 0.2s linear;
}

@media (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}

.popup__close:hover {
  opacity: 60%;
}
