.profile__info {
  width: 336px;
  display: grid;
  align-self: center;
  grid-template-areas:
    "name button"
    "info info";
}

@media (max-width: 920px) {
  .profile__info {
    width: 100%;
    padding: 22px 0;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". name button"
      ". info .";
    grid-template-columns: 1fr 336px 1fr;
  }
}

@media (max-width: 767px) {
  .profile__info {
    grid-template-columns: 1fr 210px 1fr;
  }
}
